@charset 'UTF-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font-family: Roboto;
}
:root {
  --white-color: #fff;
  --blaack-color:#140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  --side-padding: 12px;
  --avatar-size: 36px;

  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--side-padding);
  background-color: var(--blaack-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}
header .icons .fa-search {
  margin-right: var(--side-padding);
}
.player {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: var(--blaack-color);
}
.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
body > .info {
  padding: var(--side-padding);
}
.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}
.info .metadata .hashtags li {
  margin-right: var(--side-padding);
}
.info .metadata .titleAndButton {
  display: flex;
}
.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--side-padding);
}
.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}
.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--side-padding) 0;
}
.actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--side-padding)/2);
  font-size: 16px;
}
.actions button i.actions {
  color: var(--blue-color);
}

.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
  
}
.channel .metadata {
  display: flex;
  align-items: center;
}
.channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.channel .metadata img {
  
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: 10px;
}
.channel .metadata .info .subscriber {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.channel .subscriber {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}
.channel .metadata .info .name {
  font-size: var(--font-medium);
}
.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(red);
  font-size: var(--font-medium);
}

.UpNext {
  padding: 0 var(--side-padding);
} 
.UpNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--side-padding) / 2);
}
.UpNext .item {
  display: flex;
  margin-top: var(--side-padding);
}
.UpNext .item .img {
  flex: 1 1 35%
  
   
}
.UpNext .item .img img {
  width: 100%;
}
.UpNext .item .info {
   flex: 1 1 60%;
   margin-left: var(--side-padding);
}
.UpNext .item .moreBtn {
   flex: 1 1 5%;
}
.UpNext .item .info {
  display: flex;
  flex-direction: column;
}
.UpNext .item .info .title{
  font-size: var(--font-small);
}
.UpNext .item .info .name,
.UpNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}
.infoandUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .infoandUpNext {
    flex-direction: row;
    margin: var(--side-padding) 0;
  }
}
  
